
.top{
  display:flex;
  justify-content: space-between;
  padding:10px 150px;



  h1{
    flex:2;
  }


  p{
    width:800px;
    text-align: justify;
    flex:3;
  }
  
}


.bottom{
  display:flex ;
  width:800px;
  height:300px;
  gap:40px;
  align-items: center;
  padding:0 25%;
  margin: 50px 0;
}

